
*{
    box-sizing: border-box;
}




body{
    font-family: 'Poppins', sans-serif;
margin: 0;

padding: 0;
overflow-x: hidden;
width:105vw;
background-color: #fefbe9;

}
/********************Start of Hero Section**************/
.hero_section{

background-color:  #221309;
color: whitesmoke;
display: flex;

margin: 40px; 
margin-left: 50px;


align-items: center;
height: 646px;
width: 1250px;
border-radius: 15px;

}
.hero_section:hover{
    
    background: linear-gradient( 45deg, #004B93 50%, red 50%);
}

.half-side{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    margin-top: 20px;
    
}

.half-side img{
    width: 120%;
    margin-bottom: -28px;
    
    /* vertical-align: bottom; */
}
h1{
    font-size: 70px;
}

.link-btn{
    

    background-color:red;
padding: 12px 40px;
border: 1px solid transparent;
border-radius: 5px;
font-style: 14px;
font-weight: 700px;
text-decoration: none;
color: whitesmoke;

}

.link-btn:hover{

    background: linear-gradient( 45deg, tomato 50%, red 50%);


}


/**********************End of  Hero Section************************/


.content{

background-color:white;


color: whitesmoke;
    
    margin-left: 3%;
    padding-left: 6%; 
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    
}

.fixture a:visited{
    
    color: red;
    background-color: red;
}


/******************content left************/

.fixed-content{

    align-items: center;
    
    
    width: 25%;
    height: 320px;
    background-color:#2C3941;
     
     
    margin-left: -6%;
    padding-left: -2%;
    margin-top: 20px;
    border-radius: 5px;
    display: grid;
    grid-template-rows: repeat(3,2fr);
    

}



.fixture{

    background-color:white;
    color: black;
    width: 70%;
    height: 35%;
    margin-left:40px;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
}
.fixture a{
    text-decoration: none;
}

/* #blog{

    background-color:red;
    border-radius: 10px;
    color: black;
    width: 70%;
    height: 35%;
    margin-left:40px;
    padding: 5px;
    padding: 12px;
    text-align: center;
    
} */



/******************content left************/


/******************content right************/


.non-fixed{

    background-color: white;
    
    width:75%;

    margin-left: 1%;
    margin-right: 10%;
    
    margin-top: 20px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3,0.5fr);
    row-gap: 5px;
    column-gap: 5px;
    
    
}
.banner{

height: 312px;
color: black;
margin-bottom: 3px;


}




.t-btn{
    

    background-color:whitesmoke;
padding: 2px 20px;
border: 1px solid black; 
border-radius: 5px;
font-style: 14px;
font-weight: 700px;
text-decoration: none;
color: black;


}

/******************content right************/



footer{

     background-color: #221309; 
    color: whitesmoke;

    text-align: center;

height: 40vh;

    
}
hr{
    width:60%;

    margin-left: 20%;
color: darkgrey;
margin-top: -1px;
}

.menu ul li{

    list-style: none;
    display: inline-block;
    padding: 0 15px;
    
    
    }
    
    .menu ul li a{
    
        color: whitesmoke;
    text-decoration: none;
    
    
    
    }


    footer .social{
        
        
        display: flex;
        justify-content:space-evenly; 
        
        padding: 0 15px;
        color: #4b4c4d;
        margin-left:5% ;
        
    }

    
    
    